.register-form {
  display: flex;
  flex-direction: column;
}

.register-form__input {
  border: none;
  border-bottom: 2px solid #CCCCCC;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 30px;
}

.register-form__submit {
  width: 100%;
  min-height: 50px;
  color: white;
  background-color: #2F71E5;
  box-sizing: border-box;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  transition: opacity .3s ease-in-out;
}

.register-form__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.register-form__redirect {
  color: #2F71E5;
}

@media (max-width: 540px) {
  .register-form {
    width: 100%;
    min-width: 282px;
    max-width: 430px;
  }
}